</main>
<footer class="text-muted">

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="assets/js/bundle.js" type="text/javascript"></script>
<!-- Naviagtion menu on mobile -->
<script>
function openNav() {
    $( '#navigation-bar' ).toggleClass( "is-menu-opened" );
    document.getElementById("myNav").style.width = "100%";

}
function closeNav() {
  $( '#navigation-bar' ).toggleClass( "is-menu-opened" );
  document.getElementById("myNav").style.width = "0%";
}
</script>
</body>
</html>
